@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "Radio Canada Big", sans-serif;
}

body {
  margin: 0;
  background: #0F172A;
}

.gradient-text {
  -webkit-text-fill-color: linear-gradient(to right, from-purple-500, via-blue-500, to-cyan-500);
}